<a href="https://colab.research.google.com/github/swethak00/SwethaKanakamedala_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# length of a string using LEN() function
str = "Swetha.K"
len(str)

8

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
import operator
def StrToDic(str1):
  string_dic = dict()
  for i in str1:
    count = 0
    for a in str1:
      if i == a:
        count = count+1
    string_dic[i] = count
  sorted_d = dict(sorted(string_dic.items(), key=operator.itemgetter(1),reverse=True))     
  return sorted_d
string = "google.com"
print("result:", StrToDic(string))

result: {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# Sum all the items in a list using SUM() function
list = [1,-3,10,5,-6]
sum_list = sum(list)
print("Sum of all elements in given list: ", sum_list)

# Another way to sum all the items in a list
total = 0
list = [1,-3,10,5,-6] 
for numbers in range(0, len(list)):
    total = total + list[numbers]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  7
Sum of all elements in given list:  7

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
string = input()  
char = string[0]  
length = len(string)  
string = string.replace(char, '$')  
string = char + string[1:]  
print(string)

restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# To throw Divide by Zero error
def error(error_div):
  print(error_div)
  return
# Calculate the output result
def result_s(a,b):
  if b == 0:
    error("runtime error")
  return 3.14*(1+a/b)**3
a = int(input("enter value of a: ")) 
b = int(input("enter value of b:")) 
print(" Expected result:", result_s(a,b))

enter value of a: 6
enter value of b:3
 Expected result: 84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d1.update(d2)
d1.update(d3)
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
tuple = (9, 29, 15, 17, 's', 'n')
element = 'w'
if element in tuple:
    print(element,"The element exists within tuple")
else:
    print(element,"The element does not exist within tuple")

w The element does not exist within tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
#Using MAX() and MIN() functions
set = [2,1,0,-1,18,23,13]
print(max(set))
print(min(set))

23
-1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [60]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058',
                'spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850',
                'ss1995','at0739','at0768','mv0299','tv0119','dy0091']
group_size = []
for i in range(5):
  group_size.append(random.randint(3,5))

if sum(group_size) == len(student_list):
  print(group_size)
  for j in range(5):
    sample_students = random.sample(student_list,group_size[j-1])
    student_list = [j for j in student_list if j not in sample_students]
    print("students" +str(j+1)+ " : ",sample_students)